<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação de Clubes</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>⚽ Bem-vindo à Votação de Clubes 🏀</h1>
        <form id="voto-form" action="/votar" method="POST">
            <label for="voto">Escolha seu time:</label>
            <input type="text" id="voto" name="voto" autocomplete="off" required>
            <ul id="sugestoes-voto" class="sugestoes"></ul>
            <div class="logo-container">
                <img id="logo-clube" class="logo-clube" src="" alt="Logo do Clube">
            </div>
            <div class="botoes">
                <button type="button" id="votar-btn" class="btn-primario">Votar</button>
                <button type="button" id="nao-tenho-time-btn" class="btn-secundario">Não tenho um time</button>
            </div>
        </form>
        <form id="nao-tenho-time-form" action="/nao_tenho_time" method="POST" style="display: none;"></form>
    </div>

    <div id="confirmacao-modal" class="modal">
        <div class="modal-content">
            <p id="confirmacao-mensagem"></p>
            <div class="botoes">
                <button type="button" id="confirmar-voto-btn" class="btn-primario">Confirmar</button>
                <button type="button" id="cancelar-btn" class="btn-secundario">Cancelar</button>
            </div>
        </div>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>