<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação de Clubes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>⚽ Bem-vindo à Votação de Clubes 🏀</h1>
        <form id="votacao-form" action="{{ url_for('votar_route') }}" method="post">
            <label for="voto">Escolha seu time:</label>
            <input type="text" id="voto" name="voto" autocomplete="off">
            <ul id="sugestoes" class="sugestoes"></ul>
            <div class="botoes">
                <button type="submit" class="btn-primario">Votar</button>
                <button type="button" class="btn-secundario" onclick="naoTenhoTime()">Não tenho um time</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('voto').addEventListener('input', function() {
            const query = this.value;
            fetch(`/autocomplete?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    const sugestoes = document.getElementById('sugestoes');
                    sugestoes.innerHTML = '';
                    data.forEach(item => {
                        const li = document.createElement('li');
                        li.textContent = item;
                        li.addEventListener('click', function() {
                            document.getElementById('voto').value = item;
                            sugestoes.innerHTML = '';
                            atualizarCores(item);
                        });
                        sugestoes.appendChild(li);
                    });
                });
        });

        function atualizarCores(time) {
            fetch('/get_cores_time', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ time: time })
            })
            .then(response => response.json())
            .then(data => {
                document.body.style.setProperty('--cor-esquerda', data.cores[0]);
                document.body.style.setProperty('--cor-direita', data.cores[1]);
            });
        }

        function naoTenhoTime() {
            document.getElementById('votacao-form').action = "{{ url_for('nao_tenho_time_route') }}";
            document.getElementById('votacao-form').submit();
        }
    </script>
</body>
</html>